doctype html

block vars

-
  var siteName = 'HTMLCODING';
  var domain= 'https://htmlcoding.net';
  var generateOgUrl = () => {
    return new URL(filepath, domain + '/').href;
  }
  var generateOgImage = () => {
    const img = imgOG || './img/common/og.jpg';
    const fullImageUrl = new URL(img, domain + '/').href;
    return fullImageUrl;
  }

include ../_mixins/all

html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    meta(name="format-detection", content="telephone=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //[if IE]><meta http-equiv="cleartype" content="on"><![endif]
    meta#viewport(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0")
    meta(name="description", content=pageDescription)
    meta(name="keywords", content=pageKeywords)
    title=pageTitle
    meta(property="og:title" content=pageTitle)
    meta(property="og:description" content=pageDescription)
    meta(property="og:type" content="website")
    meta(property="og:url" content=generateOgUrl())
    meta(property="og:image" content=generateOgImage())
    meta(property="og:image:alt" content=pageTitle)
    meta(property="og:site_name" content=siteName)
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content=pageTitle)
    meta(name="twitter:description" content=pageDescription)
    meta(name="twitter:image" content=generateOgImage())
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400,700&display=swap" )
    if(["top"].includes(pageID))
      link(rel="stylesheet" href=`${path}/css/animate.min.css`)
    if(["kb", "templates"].includes(pageID))
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css")
    link(rel="stylesheet" href=`${path}/css/${pageID.replace(/-/gi,'_')}.css`)
    link(rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96")
    link(rel="icon" type="image/svg+xml" href="/favicon.svg")
    link(rel="shortcut icon" href="/favicon.ico")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="manifest" href="/site.webmanifest")
    // Structured Data
    script(type="application/ld+json").
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "url": "https://htmlcoding.net/",
        "name": "HTMLCODING",
        "description": "Professional HTML/CSS/JS coding services - transforming your designs into clean, fast, pixel-perfect, and fully responsive HTML code—optimized for performance, SEO, and cross-browser compatibility.",
        "contactPoint": [
          {
            "@type": "ContactPoint",
            "contactType": "sales",
            "email": "hello@htmlcoding.net",
            "url": "https://htmlcoding.net/#contact"
          }
        ]
      }
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W753DCMN');
    // End Google Tag Manager
  body
    // Google Tag Manager (noscript)
    noscript <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W753DCMN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    // End Google Tag Manager (noscript)
    .container
      include ../_parts/header
      main
        block container
      include ../_parts/footer
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    if(["top"].includes(pageID))
      script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/counterup2/2.0.2/index.min.js")
    if(["kb", "templates"].includes(pageID))
      script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js")
    script(src=path+"/js/scripts.js")
