block vars
  -path = ""
  -pageID = ""
  -pageTitle = ""
  -pageDescription = ""
  -pageKeywords = ""
doctype html
include ../_mixins/all
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    meta(name="format-detection", content="telephone=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //[if IE]><meta http-equiv="cleartype" content="on"><![endif]
    meta#viewport(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0")
    meta(name="description", content=pageDescription)
    meta(name="keywords", content=pageKeywords)
    title=pageTitle
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet" href='https://fonts.googleapis.com/css2?family=Poppins:wght@400,700&display=swap' )
    //- if(["top"].includes(pageID))
    //-   link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css")
    link(rel="stylesheet" href=`${path}/css/${pageID.replace(/-/gi,'_')}.css`)
    link(rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96")
    link(rel="icon" type="image/svg+xml" href="/favicon.svg")
    link(rel="shortcut icon" href="/favicon.ico")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="manifest" href="/site.webmanifest")
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-W753DCMN');
    // End Google Tag Manager
  body
    // Google Tag Manager (noscript)
    noscript <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W753DCMN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    // End Google Tag Manager (noscript)
    .container
      include ../_parts/header
      main
        block container
      include ../_parts/footer
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    if(["top"].includes(pageID))
      script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js")
    script(src=path+"/js/scripts.js")
