header.is-transparent
  .wrapper

    a.header-logo(href="/")
      img(src=path+"/img/common/logo.svg", width="300", height="32", loading="eager", alt="HTMLCODING")

    nav.header-nav
      ul
        li.is-current
          a(href=path+"/#home") Home
        li
          a(href=path+"/#about") About
        li
          a(href=path+"/#estimate") Estimate
        li
          a(href=path+"/#portfolio") Portfolio
        li
          a(href=path+"/#faq") FAQ
        li
          a(href=path+"/#team") Team
        li
          a(href=path+"/kb") KB
        li.sm
          a(href=path+"/#contact") Contact

    .header-buttons
      a.btn.btn-primary.ico-envelope(href="#contact") Get in Touch

    a.button-menu.sm(aria-label="Toggle Mobile Menu" href="#")
      span
