header.is-transparent
  .wrapper.wow.animate__animated.animate__fadeIn(data-wow-duration="1s")

    a.header-logo(href="/")
      img(src=path+"/img/common/logo.svg", width="300", height="32", loading="eager", alt="HTMLCODING")

    nav.header-nav
      ul
        li(class={'is-current': pageID === 'top'})
          a(href=path+"/#home") Home
        li
          a(href=path+"/#about") About
        li
          a(href=path+"/#estimate") Estimate
        li
          a(href=path+"/#portfolio") Portfolio
        li
          a(href=path+"/#faq") FAQ
        li
          a(href=path+"/#team") Team
        li(class={'is-current': pageID === 'kb'})
          a(href=path+"/kb") KB
        li.sm
          a(href=path+"/#contact") Contact

    .header-buttons
      a.btn.btn-primary.ico-envelope(href=path+"/#contact") Get in Touch

    button.button-menu.sm(aria-label="Toggle Mobile Menu")
      span
